div#infoBar .column {
   width: 33.3333333333%;
   float: left;
   text-align: center;
}

div#infoBar .column:first-child {
   text-align: left;
}

div#infoBar .column:last-child {
   text-align: right;
}

#arrowStickerWrap {
   background: url(arrow.png);
   width: 131px;
   height: 70px;
   background-repeat: no-repeat;
   background-size: contain;
   position: absolute;
   z-index: 9999;
   margin-left: -14px;
   margin-top: 10px;
   /*transition: 200ms all linear;*/
   
}

#arrowTitle,
#arrowContent {
   color: #ffffff;
   /* padding: 5px; */
   margin-top: 30px;
   margin-left: 16px;
   font-size: 14px;
  
}

#arrowStickerWrap {
   transition: 200ms;
 
   z-index: 999;
   
}

#arrowContent {
   min-width: 340px;
   /* position: absolute; */
   margin-top: 16px;
   margin-left: 21px;
   font-family: "trebuchet ms new", "trebuchet ms", sans-serif;
   color: #fff;
   letter-spacing: 0.5px;
   z-index: 999999;
}

span.separator {
   padding-bottom: 8px;
   display: block;
}

span.separatorY {
   display: block;
   margin-bottom: 14px;
}

#arrowTitle p,
#arrowContent p {
   margin-top: 0;
   margin-bottom: 0;
   text-shadow: rgba(0, 0, 0, 0.3) 1px 1px 0px;
}

/*animation*/
.animated.myZoomOut,
.animated.myZoomIn,
.animated.popOut {
   animation-duration: 200ms;
}

.animated.myZoomIn {
   animation-duration: 100ms;
}

.animated.myZoomOut {
   /*animation-duration: 200ms;*/
}

.animated.popOut {
   animation-duration: 1000ms;
}

.animated.myFadeIn {
   animation-duration: 600ms;
}

@keyframes myZoomOut {
   from {
      opacity: 1;
   }

   to {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3) translate3d(-40px, 0, 0);
   }
}

.myZoomOut {
   animation-name: myZoomOut;
}

@keyframes myZoomIn {
   from {
      opacity: 0;
      transform: scale3d(0.3, 0.3, 0.3) translate3d(-40px, 0, 0);
   }

   100% {
      opacity: 1;
   }
}

.myZoomIn {
   animation-name: myZoomIn;
}

@keyframes myFadeIn {
   from {
      opacity: 0;
   }

   to {
      opacity: 1;
   }
}

.myFadeIn {
   animation-name: fadeIn;
}

.hideY {
   opacity: 0;
   visibility: hidden;
   z-index: 0;
}

.showY {
   opacity: 1;
}

#arrowStickerWrap.popOut {
   width: 373px;
   height: 200px;
   margin-left: -40px;
   z-index: 999999;
}

.lcb {
   display: inline-block;
   width: 17px;
   text-align: right;
   padding-right: 8px;
}

div#arrowTitle {
   font-weight: 400;
   font-family: Oswald, Arial Narrow, sans-serif;
   font-size: 14px;
   /* cursor: pointer; */
   /*transition: 100ms ease-in all;*/
}

div#arrowTitle p {
   margin-bottom: 0;
}

.popOut div#arrowTitle {
   opacity: 0;
   visibility: hidden;
}