@font-face {
    font-family: 'Metropolis';
    src: url('https://dev.dascodes.com/fonts/Metropolis/Metropolis-Medium.woff2') format('woff2'),
        url('https://dev.dascodes.com/fonts/Metropolis/Metropolis-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('https://dev.dascodes.com/fonts/Metropolis/Metropolis-Bold.woff2') format('woff2'),
        url('https://dev.dascodes.com/fonts/Metropolis/Metropolis-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('https://dev.dascodes.com/fonts/Metropolis/Metropolis-Regular.woff2') format('woff2'),
        url('https://dev.dascodes.com/fonts/Metropolis/Metropolis-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Metropolis';
    src: url('https://dev.dascodes.com/fonts/Metropolis/Metropolis-SemiBold.woff2') format('woff2'),
        url('https://dev.dascodes.com/fonts/Metropolis/Metropolis-SemiBold.woff') format('woff');
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
