@font-face {
    font-family: 'Ambit';
    src: url('Ambit-Regular.woff2') format('woff2'),
        url('Ambit-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Ambit';
    src: url('Ambit-Bold.woff2') format('woff2'),
        url('Ambit-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

