@font-face {
    font-family: 'PP Neue Montreal';
    src: url('https://dev.dascodes.com/fonts/PPNeueMontreal-Regular.woff2') format('woff2'),
        url('https://dev.dascodes.com/fonts/PPNeueMontreal-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

