@font-face {
    font-family: 'GT Super Display Trial';
    src: url('GTSuperDisplayTrial-Regular.woff2') format('woff2'),
        url('GTSuperDisplayTrial-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'GT Super Display Trial';
    src: url('GTSuperDisplayTrial-Medium.woff2') format('woff2'),
        url('GTSuperDisplayTrial-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

