/*--------------------------------------------------------------
*** Menu + Header
--------------------------------------------------------------*/



#catNav {
    text-align: left;
    margin-top: 15px;
}




#catNav ul,
#catNav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}


#catNav ul li {
    display: inline-block;
    padding: 3px 8px;
}


#catNav ul li a,
#catNav ul li span {
    padding: 3px 2px;
    color: #222;
    font-family: Raleway;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: lowercase;
    display: block;
}

header {
    text-align: center;
    margin-top: 5px;
    margin-bottom: 0;
}

header h1 a {
    color: #333;
    font-style: italic;
    font-weight: 400;
    font-family: Playfair Display, serif;
    margin-bottom: 5px;
    letter-spacing: 2px;
    line-height: 1;
    font-size: 36px;
}

header h1 a:hover,
header h1 a:focus {
    color: #000;
}

#catNav {
}

#catNav ul li a {
    color: #999999;
    /* padding-bottom: 8px; */
    border-top: 2px solid transparent;
}

#catNav ul li.active a,
#catNav ul li a:hover,
#catNav ul li span {
    color: #2196F3;
    /* border-top: 2px solid #2196F3; */
}

#category .inner {
    padding-bottom: 0;
    padding-top: 0;
}

#catNav ul {
    cursor: default;
}

