/*--------------------------------------------------------------
*** Menu + Header
--------------------------------------------------------------*/



#catNav {
    text-align: left;
}




#catNav ul,
#catNav ul li {
    padding: 0;
    margin: 0;
    list-style: none;
}


#catNav ul li {
    display: inline-block;
    padding: 3px 8px;
}


#catNav ul li a,
#catNav ul li span {
    padding: 3px 2px;
    color: #222;
    font-family: Raleway, sans-serif;
    font-size: 12px;
    font-weight: 600;
    letter-spacing: 1px;
    text-transform: lowercase;
    display: block;
}


#catNav ul li a {
    color: #999999;
    /* padding-bottom: 8px; */
    border-top: 2px solid transparent;
    text-decoration: none;
}

#catNav ul li.active a,
#catNav ul li a:hover,
#catNav ul li span {
    color: #bfdb7d;
    /* border-top: 2px solid #bfdb7d; */
}

#category .inner {
    padding-bottom: 0;
    padding-top: 0;
}

#catNav ul {
    cursor: default;
}

nav#category {
    margin-top: 15px;
}