@font-face {
    font-family: 'Optima';
    src: url('https://dev.dascodes.com/fonts/optima/Optima.woff2') format('woff2'),
        url('https://dev.dascodes.com/fonts/optima/Optima.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optima';
    src: url('https://dev.dascodes.com/fonts/optima/Optima-Italic.woff2') format('woff2'),
        url('https://dev.dascodes.com/fonts/optima/Optima-Italic.woff') format('woff');
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Optima';
    src: url('https://dev.dascodes.com/fonts/optima/Optima-Medium.woff2') format('woff2'),
        url('https://dev.dascodes.com/fonts/optima/Optima-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Optima';
    src: url('https://dev.dascodes.com/fonts/optima/Optima-Bold.woff2') format('woff2'),
        url('https://dev.dascodes.com/fonts/optima/Optima-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

