@font-face {
    font-family: 'NOIR et BLANC';
    src: url('NOIRetBLANC-Regular.woff2') format('woff2'),
        url('NOIRetBLANC-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Avenir LT Std';
    src: url('AvenirLTStd-Book.woff2') format('woff2'),
        url('AvenirLTStd-Book.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

h3.modal-title {
    text-align: center;
    font-size: 32px;
    font-weight: 400;
    line-height: 1.65;
    text-transform: uppercase;
}

#klaviyo-bis-modal, #klaviyo-bis-modal p {
    text-align: center;
}

#klaviyo-bis-modal button.btn {
    font-weight: 400;
    letter-spacing: 0.2em;
}


