@font-face {
    font-family: 'Harmonia Sans';
    src: url('https://dev.dascodes.com/fonts/harmonia-sans/HarmoniaSans-Regular.woff2') format('woff2'),
        url('https://dev.dascodes.com/fonts/harmonia-sans/HarmoniaSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Harmonia Sans';
    src: url('https://dev.dascodes.com/fonts/harmonia-sans/HarmoniaSans-Bold.woff2') format('woff2'),
        url('https://dev.dascodes.com/fonts/harmonia-sans/HarmoniaSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

